<footer class="container footer animation-fade-up">
<!--今日诗词开始-->
<div id="jinrishici-sentence" style="text-align:center;"></div>
<script src="https://sdk.jinrishici.com/v2/browser/jinrishici.js" charset="utf-8"></script>
<!--今日诗词结束-->
<!--time.is开始-->
<div style="text-align:center;">
<a href="https://time.is/Beijing" id="time_is_link" style="text-decoration:none">标准北京时间:</a>
<span id="Beijing_z43d"></span>
</div>
<script src="https://widget.time.is/t.js"></script>
<script>
time_is_widget.init({Beijing_z43d:{}});
</script>
<!--time.is结束-->
</footer>
